{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include("entete.html") %}
    <title>Document</title>
    <style>
        body{
            font-family: 'poppins';
        }
    </style>
</head>
<body>
   <div class="countainer" style="margin-top: 50px;">
       <div class="row" style="margin: 0;">
           <div class="col-md-9 col-md-offset-1">
               <button class="btn btn-primary" data-toggle="modal" data-target="#ajoutArticle"><i class="glyphicon glyphicon-plus"></i> Nouvel Article</button>
              <table class="table table-striped table-bordered table-hover" style="margin-top: 20px;">
                    <thead>
                        <tr class="info">
                            <th>Article</th>
                            <th>Categorie</th>
                            <th>Dispo</th>
                            <th>Menu</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in A %}
                        <tr>
                            <td>{{ item[0] }}</td>
                            <td>{{ item[1] }}</td>
                            <td>{% for i in Stock %} {% if i[1] == item[3] %} {{ i[0] }} {% else %} 0 {% endif %}{% endfor %}</td>
                            <td> 
                                <!-- <button class="btn btn-info"><i class="glyphicon glyphicon-eye-open"></i></button>  -->
                                <button class="btn btn-default" data-toggle="modal" data-target="#article{{ item[3] }}"><i class="glyphicon glyphicon-edit"></i></button> 
                                <button class="btn btn-warning" data-toggle="modal" data-target="#quantite{{ item[3] }}"><i class="glyphicon glyphicon-plus"></i></button> 
                                <button class="btn btn-success" data-toggle="modal" data-target="#quantiteRetrait{{ item[3] }}"><i class="glyphicon glyphicon-minus"></i></button> 
                                <button class="btn btn-danger"><a href="/supprimer/{{ item[3] }}"><i class="glyphicon glyphicon-trash"></i></a></button> 
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
              </table>
           </div>
       </div>
   </div>

<div class="modal fade" tabindex='-1' aria-hidden="true" aria-labelledby="pageModale" role="dialog" id="ajoutArticle">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-hidden="true" data-dismiss="modal">&times</button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('ajouterArticle')}}" method="POST">
                <input type="text" name="article" class="form-control" placeholder="Saisir l'article">
                <br>
                <select name="idCat" id="idCat" class="form-control">
                    {% for i in C %}
                    <option value="{{ i[0] }}">{{ i[1] }}</option>
                    {% endfor %}
                </select>
                <button type="submit" name="enregistrer" value="enregistrer" class="btn btn-primary btn-block" style="margin-top: 10px;">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- modification -->
{% for item in A %}
<div class="modal fade" tabindex='-1' aria-hidden="true" aria-labelledby="pageModale" role="dialog" id="article{{ item[3] }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-hidden="true" data-dismiss="modal">&times</button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('mofifierArticle')}}" method="POST">
                <input type="hidden" name="ida" value="{{ item[3] }}">
                <input type="text" name="article" class="form-control" placeholder="Saisir l'article" value="{{ item[0] }}">
                <br>
                <select name="idCat" id="idCat" class="form-control">
                    {% for i in C %}
                    <option value="{{ i[0] }}" {% if i[0] == item[4] %} selected  {% endif %}>{{ i[1] }}</option>
                    {% endfor %}
                </select>
                <button type="submit" name="modifier" value="modifier" class="btn btn-primary btn-block" style="margin-top: 10px;">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- ajout modal quantite -->
{% for item in A %}
<div class="modal fade" tabindex='-1' aria-hidden="true" aria-labelledby="pageModale" role="dialog" id="quantite{{ item[3] }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-hidden="true" data-dismiss="modal">&times</button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('ajoutQuantite')}}" method="POST">
                <input type="hidden" name="ida" value="{{ item[3] }}">
                <input type="text" name="article" class="form-control" placeholder="Saisir l'article" value="{{ item[0] }}" disabled><br>
                <input type="number" name="qte" class="form-control" placeholder="Saisir la quantité">
                <br>
                <select name="ids" id="ids" class="form-control">
                    {% for i in S %}
                    <option value="{{ i[0] }}">{{ i[1] }}</option>
                    {% endfor %}
                </select><br>
                <button type="submit" name="quantite" value="quantite" class="btn btn-primary btn-block" style="margin-top: 10px;">Enregistrer</button>
            </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- retrait modal quantite -->
{% for item in A %}
<div class="modal fade" tabindex='-1' aria-hidden="true" aria-labelledby="pageModale" role="dialog" id="quantiteRetrait{{ item[3] }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-hidden="true" data-dismiss="modal">&times</button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('quantiteRetrait')}}" method="POST">
                <input type="hidden" name="ida" value="{{ item[3] }}">
                <input type="text" name="article" class="form-control" placeholder="Saisir l'article" value="{{ item[0] }}" disabled><br>
                <input type="number" name="qte" class="form-control" placeholder="Saisir la quantité">
                <br>
                <select name="ids" id="ids" class="form-control">
                    {% for i in S %}
                    <option value="{{ i[0] }}">{{ i[1] }}</option>
                    {% endfor %}
                </select><br>
                <button type="submit" name="quantite" value="quantite" class="btn btn-primary btn-block" style="margin-top: 10px;">Enregistrer</button>
            </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

</body>
</html>
{% endblock %}