<link rel="shortcut icon" href="{{url_for('static',filename='images/dev_img/election_favicon.svg')}}" type="image/x-icon">
<link rel="stylesheet" href="{{url_for('static',filename='css/css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/uicons-regular-rounded/css/uicons-regular-rounded.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/simple-notify.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/jquery-ui.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/jquery-confirm.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/slimselect.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/flatpickr.min.css')}}">
